#data1{
    text-align: justify;
    position: relative;
    left: 450px;
    
}
#hide1{
    display: none;
    
    text-align: justify;
}
#hide2{
    display: none;
    
    text-align: justify;
}
#hide3{
    display: none;
    
    text-align: justify;
}
